{% extends 'contest/base.html' %}
{% load static %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">MEDit</h1>
    <p class="lead">This site was established for medical students' study. We compete in quiz contests about medical knowledge.</p>
    <hr>
    <h1 class="display-4">Announcements</h1>
    <p class="lead">2020/5/5 : We will hold Random Field Contest#1 on May 5,2020,5 p.m.</p>
    <p class="lead">2020/5/8 : We added a friend function!</p>
    <hr>
</div>
<style type="text/css">
    .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    }
    .grey {
        color: grey;
        font-size: large;
    }
    .green {
        color: green;
        font-size: large;
    }
    .aqua {
        color: aqua;
        font-size: large;
    }
    .blue {
        color: blue;
        font-size: large;
    }
    .yellow {
        color: yellow;
        font-size: large;
    }
    .orange {
        color: orange;
        font-size: large;
    }
    .red {
        color: red;
        font-size: large;
    }
</style>
<h2>Score Ranking</h2>
<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>#</th>
        <th>User</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'other_profile' account.id %}"><div class="{{account.color}}">{{account.username}}</div></a></td>
            <td>{{account.score}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<h2>Contests Being Held Now</h2>
<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Contest Name</th>
        <th>Difficulty</th>
        <th>Start Time</th>
        <th>Ending Time</th>
    </tr>
    </thead>
    <tbody>
        {% for contest in now_contests %}
        <tr>
            <td><a href="{% url 'problems' contest.id %}">{{contest.name}}</a></td>
            <td>{{contest.difficulty}}</td>
            <td>{{contest.date_start}}</td>
            <td>{{contest.date_end}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<h2>Upcoming Contests</h2>
<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Contest Name</th>
        <th>Difficulty</th>
        <th>Start Time</th>
        <th>Ending Time</th>
    </tr>
    </thead>
    <tbody>
        {% for contest in contests %}
        <tr>
            <td><a href="{% url 'problems' contest.id %}">{{contest.name}}</a></td>
            <td>{{contest.difficulty}}</td>
            <td>{{contest.date_start}}</td>
            <td>{{contest.date_end}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<h2>Open Contests</h2>
<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>Contest Name</th>
        <th>Difficulty</th>
        <th>Start Time</th>
        <th>Ending Time</th>
    </tr>
    </thead>
    <tbody>
        {% for contest in open_contests %}
        <tr>
            <td><a href="{% url 'problems' contest.id %}">{{contest.name}}</a></td>
            <td>{{contest.difficulty}}</td>
            <td>{{contest.date_start}}</td>
            <td>{{contest.date_end}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}